<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Profaza</th>
        <th>Metafaza</th>
        <th>Anafaza</th>
        <th>Telofaza</th>
        <th>Cytokineza</th>
    </tr>
    <tr>
        <td>1 faza mejozy</td>
        <td>2 faza mejozy</td>
        <td>3 faza mejozy</td>
        <td>4 faza mejozy</td>
        <td>5 faza mejozy</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>